*{
    align-content: center;
    text-align: center;
}

body{
    margin: 8px;
    display: block;
    background-color: rgb(180, 101, 27);
}

article{
    font-size: larger;
}

#mainHeading{
    color: red;
    font-size: large;
}

#mainHeading:hover{
    font-size: xx-large;
    color: green;
}

.funParagraph{
    width: 50vw;
    color:green;
    margin: auto;
    
}

.list{
    margin: auto;
}

.listBullet{
    align-content: left;
    margin: auto;
    padding-left: 40%;
    display: flex;
    position: relative;
}

.listBulletHeading{
    text-emphasis-style: sesame;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bagel{
    display: inline-block;
    position: relative;
    margin: auto;
    height: 40vh;
    width: 40vh;
    animation-duration: 5s;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  